* {
    box-sizing: border-box;
  }

body{
    background-color: #fff;
    -webkit-app-region: drag;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.app{
    width: 100%;
    height: 100%;
    position: absolute;
}
  header{
      -webkit-app-region:drag;
  }
  /* The browser window */
  .titlebar {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  /* titlebar for columns and the top "toolbar" */
  .row {
    padding: 8px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
  }
  
  .left {
    width: 25%;
    padding: 3px 0 0 0;
    text-align: left;
  }
  
  .right {
    width: 25%;
    float: right;
    text-align: right;
  }
  .middle{
    color: #969393;
    font-size: 15px;
    width: 50%;
    text-align: center;
    margin-top: 4px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Three dots */
  .dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-app-region:no-drag;
    cursor: pointer;
  }
  
button {
    -webkit-app-region:no-drag;
    cursor: pointer;
}
.save{
    -webkit-app-region: no-drag;
    cursor: pointer;
    background: rgb(204 204 204 / 63%);
    border: 1px solid #ccc;
    padding: 5px;

}


.save:hover ,.save:visited, .save:focus{
    outline: none;
    background-color: #ccc;
}
  /* Page content */
.content {
    width: 100%;
    height: 100%;
    -webkit-app-region:no-drag;
    position: fixed;
    top: 85px;
}
  textarea{
      width: 100%;
      height: 100%;
      border: none;
      resize: none;
      font-size: 20px;
      outline: none;
      font-family: sans-serif;
  }
/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    cursor: pointer;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor: pointer;
  }
  .subBar{
    top: 50px;
    max-height: 30px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 2px 2px #f1f1f1;
    padding: 4px;;
  }
  .leftSub{
    float: left;
    font-size: 15px;
  }
  .leftSub button{
    font-size: 12px;
    padding: 2px 4px;
    color: #ccc;
    background: transparent;
    border: none;

  }
  .rightSub{
    float: right;
  }
  .rightSub button{
    background-color: rgb(204 204 204 / 63%);
    border: 1px solid #a9a9a9;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    outline: none;
    opacity: 0.5;
  }
  .rightSub:after {
    content: "";
    clear: both;
    display: table;
  }
  .rightSub button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .rightSub button:hover {
    background-color: #ccc;
  }
  #openfile{
    margin: 0 70px 0 5px;
    cursor: pointer;
  }
